---
import '../styles/skills.css'
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">

<div class="dark:bg-zinc-900 w-full p-4 mx-auto my-1 rounded-lg shadow-2xl list-none">
    <h1 class="text-blue-500 font-bold text-center mb-5">Software Development</h1>

    <li>
        <h3 class="font-semibold ml-4">.NET</h3>
        <span class="bar"><span class="csharp seventy-percent"></span></span>
    </li>

    <li>
        <h3 class="font-semibold ml-4">DevExpress</h3>
        <span class="bar"><span class="python"></span></span>
    </li>

    <li>
        <h3 class="font-semibold ml-4">SQL Server</h3>
        <span class="bar"><span class="javascript"></span></span>
    </li>

    <li>
        <h3 class="font-semibold ml-4">React</h3>
        <span class="bar"><span class="java"></span></span>
    </li>

    <li>
        <h3 class="font-semibold ml-4">NodeJS</h3>
        <span class="bar"><span class="java"></span></span>
    </li>

    <li>
        <h3 class="font-semibold ml-4">Typescript</h3>
        <span class="bar"><span class="java"></span></span>
    </li>

    <li>
        <h3 class="font-semibold ml-4">Tailwind CSS</h3>
        <span class="bar"><span class="java"></span></span>
    </li>

    <li class="mb-5"></li>

</div>


<!-- second skilss -->



<div class="dark:bg-zinc-900 w-full p-4 mx-auto my-1 rounded-lg shadow-2xl list-none">
    <h1 class="text-blue-500 font-bold text-center  mb-5">Software Development</h1>

    <li>
        <div class="w-full inline-flex">
        <h3 class="font-medium ml-4">C#</h3>
        <h3 class="font-medium ml-4 self-end ml-auto mr-4">90%</h3>
        </div>
        <span class="bar"><span class="csharp seventy-percent"></span></span>
        
    </li>

    <li>
        <h3 class="font-medium ml-4">Python</h3>
        <span class="bar"><span class="python"></span></span>
    </li>

    <li>
        <h3 class="font-medium ml-4">JavaScript</h3>
        <span class="bar"><span class="javascript"></span></span>
    </li>

    <li>
        <h3 class="font-medium ml-4">Java</h3>
        <span class="bar"><span class="java"></span></span>
    </li>

    <li class="mb-5"></li>
</div>







</div>



<!-- Columna de graficos de pastel -->
<div class="h-70 dark:bg-zinc-900 w-full p-4 mx-auto my-1 rounded-lg shadow-2xl list-none">

    <h1 class="text-blue-500 font-bold text-center  mb-5">Software Quality Assurance</h1>


<div class="grid grid-cols-1 md:grid-cols-4 gap-5 inline-flex">

    
<div id="rounded-skill" class="mt-1 mx-auto mb-5">
    <div class="outer">
        <div class="inner">
            <div class="inline-block">
            <div id="number" class="font-bold">RF python 
            </div>
            <div id="number" class="text-center">65%   
            </div>
        </div>
        </div>
    </div>
    
    <svg class="svg-circle" xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
        <defs>
           <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#e91e63" />
              <stop offset="100%" stop-color="#673ab7" />
           </linearGradient>
        </defs>
        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
</svg>

    
</div>


<!-- second rounded skill -->
<div id="rounded-skill" class="mt-1 mx-auto mb-5">
    <div class="outer">
        <div class="inner">
            <div class="inline-block">
            <div id="number" class="font-bold">Jest  
            </div>
            <div id="number" class="text-center">65%   
            </div>
        </div>
        </div>
    </div>
    <svg class="svg-circle" xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
        <defs>
           <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#e91e63" />
              <stop offset="100%" stop-color="#673ab7" />
           </linearGradient>
        </defs>
        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
</svg>


</div>


<!-- third rskill -->


<div id="rounded-skill" class="mt-1 mx-auto mb-5">
    <div class="outer">
        <div class="inner">
            <div class="inline-block">
            <div id="number" class="font-bold">Supertest  
            </div>
            <div id="number" class="text-center">65%   
            </div>
        </div>
        </div>
    </div>
    
    <svg class="svg-circle" xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
        <defs>
           <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#e91e63" />
              <stop offset="100%" stop-color="#673ab7" />
           </linearGradient>
        </defs>
        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
</svg>

    
</div>


<!-- end third -->


<!-- fourth rskill -->


<div id="rounded-skill" class="mt-1 mx-auto mb-5">
    <div class="outer">
        <div class="inner">
            <div class="inline-block">
            <div id="number" class="font-bold">Selenium  
            </div>
            <div id="number" class="text-center">65%   
            </div>
        </div>
        </div>
    </div>
    
    <svg class="svg-circle" xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
        <defs>
           <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#e91e63" />
              <stop offset="100%" stop-color="#673ab7" />
           </linearGradient>
        </defs>
        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
</svg>

    
</div>


<!-- end fourth -->

</div>

</div>
<!-- fin de columna -->
