---
import PythonIcon from "./icons/python";
import ReactIcon from "./icons/react";
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
<div class="relative h-64 rounded-lg overflow-hidden shadow-xl">
    <img class="absolute inset-0 w-full h-full object-cover" src="https://images.pexels.com/photos/13620266/pexels-photo-13620266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    <div class="absolute inset-0 bg-gray-800 backdrop-blur-sm bg-opacity-70"></div>
    <div class="relative px-6 py-4">
      <h2 class="text-2xl font-bold text-zinc-350 mb-2">Software <span class="bg-gradient-to-r from-teal-500 to-blue-500 text-transparent bg-clip-text text-shadow-md">Development</span></h2>

      <div class="mt-7 grid grid-cols-3 gap-5 justify-items-center items-center text-slate-300	">
        <div class="inline-flex">
            <PythonIcon></PythonIcon>
            <h2 class="mt-3.5 ml-1">Python</h2>
        </div>
        <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div>

        <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div> <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div> <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div>
       
    
      </div>   
     </div>
  </div>



  <!--  -->


  
<div class="relative h-64 rounded-lg overflow-hidden shadow-xl">
    <img class="absolute inset-0 w-full h-full object-cover" src="https://images.pexels.com/photos/7567529/pexels-photo-7567529.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
    <div class="absolute inset-0 bg-gray-800 backdrop-blur-sm bg-opacity-70"></div>
    <div class="relative px-6 py-4">
      <h2 class="text-2xl font-bold text-zinc-350 mb-2 ">Data <span class="bg-gradient-to-r from-teal-500 to-blue-500 text-transparent bg-clip-text text-shadow-md">Analysis</span></h2>

      <div class="mt-7 grid grid-cols-3 gap-5 justify-items-center items-center text-slate-300	">
        <div class="inline-flex">
            <PythonIcon></PythonIcon>
            <h2 class="mt-3.5 ml-1">Python</h2>
        </div>
        <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div>

        <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div> <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div> <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div>
       
    
      </div>   
     </div>
  </div>

</div>


<!--  -->


<div class="relative h-64 rounded-lg overflow-hidden shadow-xl mt-4">
    <img class="absolute inset-0 w-full h-full object-cover" src="https://images.pexels.com/photos/5935791/pexels-photo-5935791.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    <div class="absolute inset-0 bg-gray-800 backdrop-blur-sm bg-opacity-70"></div>
    <div class="relative px-6 py-4">
      <h2 class="text-2xl font-bold text-zinc-350 mb-2">Software <span class="bg-gradient-to-r from-teal-500 to-blue-500 text-transparent bg-clip-text text-shadow-md">Development</span></h2>

      <div class="mt-7 grid grid-cols-3 gap-5 justify-items-center items-center text-slate-300	">
        <div class="inline-flex">
            <PythonIcon></PythonIcon>
            <h2 class="mt-3.5 ml-1">Python</h2>
        </div>
        <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div>

        <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div> <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div> <div class="inline-flex" >
            <ReactIcon/>
            <h2 class="mt-3.5 ml-1">React</h2>
        </div>
       
    
      </div>   
     </div>
  </div>
